<h1>Contact Us</h1>


<form action='/submit' method='get'>
<label>First Name: </label><input type='text' name='first_name'/>
<hr/>
<label>Last Name: </label><input type='text' name='last_name'/>
<hr/>
<label>Email Address: </label><input type='text' name='email'/>
<hr/>
<label>Meaasge: </label><input type='text' name='message'/>
<hr/>
<button>Submit Info</button>

</form>
