
<section>
  <header>
    <h1>Thank You For Contacting US!!!!</h1>
  </header>
  <p>Thank you ever so much for contacting us <%= @first_name %> <%= @last_name %>. That was ever so Kind.</p>
  <p>I have your email address as "<%= @email %>". I hope thats right.</p>
  <p>Unfortunately there’s no-one to read your message: <%= @message %>. Jesus! You can really go on! It sounds like you have far too much time own your hands. No body is going to reply to this for a couple of reasons. Firstly, I’m a bit too lazy to reply and I have no body to reply for me. Secondly, I have not been shown how to save your details to a database as yet. I think I will know how to do it soon. </p>
  <hr/>
  <p>So, in summary, thanks for filling in the form. It’s good to practice typing ;)</p>
  <h2>also, isn't my CSS</h2>
  <h1>AWESOME...........</h1>
</section>
